@font-face {
   font-family: "Raleway";
   src: url("../fonts/Raleway-Regular.woff") format("woff"),
      url("../fonts/Raleway-Regular.ttf") format("ttf"),
      url("../fonts/Raleway-Regular.eot") format("eot");
}

@font-face {
   font-family: "Raleway";
   src: url("../fonts/Raleway-ExtraLight.woff") format("woff"),
      url("../fonts/Raleway-ExtraLight.ttf") format("ttf"),
      url("../fonts/Raleway-ExtraLight.eot") format("eot");
   font-weight: 200;
}

@font-face {
   font-family: "Raleway";
   src: url("../fonts/Raleway-Light.woff") format("woff"),
      url("../fonts/Raleway-Light.ttf") format("ttf"),
      url("../fonts/Raleway-Light.eot") format("eot");
   font-weight: 300;
}

@font-face {
   font-family: "Raleway";
   src: url("../fonts/Raleway-Medium.woff") format("woff"),
      url("../fonts/Raleway-Medium.ttf") format("ttf"),
      url("../fonts/Raleway-Medium.eot") format("eot");
   font-weight: 500;
}

@font-face {
   font-family: "Raleway";
   src: url("../fonts/Raleway-SemiBold.woff") format("woff"),
      url("../fonts/Raleway-SemiBold.ttf") format("ttf"),
      url("../fonts/Raleway-SemiBold.eot") format("eot");
   font-weight: 600;
}

@font-face {
   font-family: "Raleway";
   src: url("../fonts/Raleway-Bold.woff") format("woff"),
      url("../fonts/Raleway-Bold.ttf") format("ttf"),
      url("../fonts/Raleway-Bold.eot") format("eot");
   font-weight: 700;
}

@font-face {
   font-family: "Raleway";
   src: url("../fonts/Raleway-ExtraBold.woff") format("woff"),
      url("../fonts/Raleway-ExtraBold.ttf") format("ttf"),
      url("../fonts/Raleway-ExtraBold.eot") format("eot");
   font-weight: 800;
}

@font-face {
   font-family: "Raleway";
   src: url("../fonts/Raleway-Black.woff") format("woff"),
      url("../fonts/Raleway-Black.ttf") format("ttf"),
      url("../fonts/Raleway-Black.eot") format("eot");
   font-weight: 900;
}

@font-face {
   font-family: "Dela Gothic One";
   src: url("../fonts/DelaGothicOne-Regular.woff2") format("woff2"),
      url("../fonts/DelaGothicOne-Regular.woff") format("woff"),
      url("../fonts/DelaGothicOne-Regular.ttf") format("ttf"),
      url("../fonts/DelaGothicOne-Regular.eot") format("eot");
}

html {
   min-width: 477px;
}

body {
   font-family: "Raleway";
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   min-width: 477px;
   font-feature-settings: 'pnum'on, 'lnum'on;
}

a {
   text-decoration: none;
   color: #000000;
}

.header {
   margin-left: 5.5%;
   margin-right: 5.5%;
   display: flex;
   justify-content: space-between;
   font-size: 16px;
   line-height: 19px;
   height: 99px;
   align-items: center;

   &__block {

      &_logo {
         opacity: 1;
         transition: opacity 300ms ease-out;

         &:hover {
            opacity: 0;
         }
      }
   }

   &__logo-icon {
      width: 184px;
   }


   &__input {
      background: none;
      display: none;
   }

   &__label {
      display: none;

      @media (max-width:959px) {
         display: block;
         width: 20px;
         text-align: center;

         &::before {
            content: url('../img/burger.svg');
         }
      }
   }

   &__nav {

      &_left {
         @media (max-width:959px) {
            display: none;

         }
      }
   }

   &__list {
      list-style: none;
      display: flex;
      padding: 0;

      @media (max-width:959px) {
         position: absolute;
         flex-direction: column;
         background: #FFFFFF;
         width: 90%;
         z-index: 100;
         filter: drop-shadow(6px 6px 8px rgba(71, 71, 71, 0.25)) drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.25));
      }
   }

   &__link {
      margin-right: 30px;

      @media (max-width:959px) {
         font-family: 'Dela Gothic One';
         font-weight: 400;
         font-size: 18px;
         line-height: 26px;
         text-transform: uppercase;
         padding-bottom: 30px;
         background: #FFFFFF;
      }
   }

   &__a:hover {
      color: #DA1F39;
      font-weight: 700;

      @media (max-width:959px) {
         &::after {
            content: url('../img/scroll\ down.svg');
            display: inline-block;
            margin-left: 13px;
         }
      }
   }

   &__action-list {
      display: flex;
   }

   &__language {
      margin-right: 20px;

      @media (max-width:959px) {
         display: none;

      }
   }

   &__select {
      border: none;
   }

   &__currency {
      margin-right: 20px;

      @media (max-width:959px) {
         display: none;

      }
   }

   &__phone-number {
      margin-right: 20px;

      @media (max-width:959px) {
         display: none;

      }
   }

   &__search {
      margin-right: 20px;
   }

   &__cart {
      margin-right: 0px;
   }
}

#burger:checked+label+nav {
   display: block;
}

#burger:checked+label::before {
   content: url('../img/close\ menu.svg');
}

.way {

   &__items {
      padding: 0;
      padding-bottom: 21px;
      list-style: none;
      display: flex;
      font-size: 12px;
      line-height: 166.4%;
      align-items: center;
      font-weight: 600;

      @media (max-width:959px) {
         display: none;
      }
   }

   &__item {
      &_cart {
         font-weight: 300;
      }
   }

   &__icon {
      width: 25px;
      height: 0.7px;
      margin: 5px;
   }

}

.way-adaptive {
   display: none;

   font-weight: 600;
   font-size: 12px;
   line-height: 20px;
   padding-bottom: 20px;

   @media (max-width:959px) {
      display: inline-block;
   }

   &__icon {
      display: inline-block;
      vertical-align: middle;
      transform: rotate(180deg);
      margin-right: 10px;
   }

   &__item {
      display: inline-block;
      vertical-align: middle;
   }
}

.cart {
   margin-left: 5.5%;
   margin-right: 5.5%;


   &__content {
      display: flex;
      gap: 30px;


      &_top {
         height: 171px;
         padding-bottom: 81px;
      }

      &_bottom {
         padding-bottom: 73px;
         align-items: center;
         box-sizing: border-box;
         justify-content: space-between;

         @media (max-width:900px) {
            flex-direction: column;
            align-items: flex-start;
            padding-bottom: 50px;
         }
      }
   }

   &__part {
      &_left {}

      &_right {
         position: relative;
         width: 88%;
         display: flex;
         justify-content: space-between;

         @media (max-width:768px) {
            flex-direction: column;
         }
      }
   }

   &__img-name {
      display: flex;
   }

   &__block {
      font-size: 12px;
   }

   &__span {
      font-weight: 600;
   }

   &__hidden {
      @media (max-width:768px) {
         display: none;
      }
   }

   &__product-img {
      box-sizing: border-box;
      width: 142px;
      height: 171px;
   }

   &__product-img img {
      width: 100%;
      height: 100%;
   }

   &__product-name {
      padding-bottom: 40px;
   }

   &__product-title {
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;

      @media (max-width:768px) {
         font-size: 16px;
      }
   }

   &__product-color {
      display: flex;
      gap: 55px;
      padding-bottom: 10px;
   }

   &__product-size {
      display: flex;
      gap: 44px;
   }

   &__select {
      font-weight: 600;
      border: none;

      &:hover {
         cursor: pointer;
      }
   }

   &__price {
      display: flex;
      flex-direction: column;
      gap: 58px;
      text-align: center;
      line-height: 21px;

      @media (max-width:768px) {
         display: none;
      }
   }

   &__quantity {
      display: flex;
      flex-direction: column;
      gap: 58px;
      text-align: center;
      line-height: 21px;

      @media (max-width:768px) {
         gap: 0;
         flex-direction: row;
      }
   }

   &__sum {
      display: flex;
      flex-direction: column;
      gap: 58px;
      text-align: center;
      line-height: 21px;

      @media (max-width:768px) {
         display: none;
      }
   }

   &__adaptive-sum {
      display: none;

      @media (max-width:768px) {
         display: block;
      }
   }

   &__close-btn {
      @media (max-width:768px) {
         position: absolute;
         right: 0;
         top: 0;
      }
   }

   &__close {
      border: none;
      background: none;

      &:hover {
         cursor: pointer;
      }
   }

   &__payable {
      position: relative;
      display: flex;
      gap: 128px;
      font-weight: 700;
      font-size: 16px;

      &::before {
         content: "";
         position: absolute;
         top: -20.3px;
         background: #000000;
         width: 305px;
         height: 0.7px;
      }
   }

   &__btns {
      @media (max-width:900px) {
         padding-top: 30px;
      }

      @media (max-width:768px) {
         display: flex;
         flex-direction: column;
      }
   }

   &__btn-continue {
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      padding: 17px 0 17px 33px;
      text-decoration: underline;
      text-underline-offset: 3px;

      @media (max-width:768px) {
         padding-left: 0;
      }
   }

   &__btn-buy {
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      padding: 17px 33px;
      background: #DA1F39;
      border: #DA1F39 1px solid;
      color: #FFFFFF;
      text-transform: uppercase;
      box-sizing: border-box;
      display: inline-block;
      transition: color 0.5s ease-out;

      &:hover {
         color: #DA1F39;
         background: #FFFFFF;
      }
   }

   &__quantity-btn {
      display: flex;
      line-height: 21px;

      @media (max-width:768px) {
         margin-right: 34px;
      }

   }

   &__btn {
      background: #F4F4F4;
      border: none;
      width: 21px;
      height: 21px;
      padding: 3px;



      &_minus {}

      &_plus {}
   }

   &__btn-img {}

   &__input {
      box-sizing: border-box;
      border: none;
      width: 21px;
      text-align: center;
      font-size: 14px;

      &::-webkit-outer-spin-button {
         -webkit-appearance: none;
      }

      &::-webkit-inner-spin-button {
         -webkit-appearance: none;
      }
   }

   &__info {
      max-width: 625px;
      font-weight: 300;
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 13.5%;
   }
}

.footer {
   background: #F4F4F4;

   &__logo {
      text-align: center;
   }

   &__logo-icon {
      width: 184px;
   }

   &__content {
      font-size: 14px;
      line-height: 166.19%;
      display: flex;
      margin-left: 5.5%;
      margin-right: 5.5%;
      justify-content: space-between;

      @media (max-width:900px) {
         flex-wrap: wrap;
      }
   }

   &__link {
      list-style: none;
      padding-bottom: 10px;

      &_red {
         padding-top: 20px;
      }

      &_red a {
         color: #DA1F39;
         font-weight: 700;
      }
   }

   &__list {
      list-style: none;

      @media (max-width:959px) {
         padding-left: 0;
      }

      &_2-columns {
         columns: 2;
      }

      &_1-column {
         columns: 1;
         padding-left: 0;

      }
   }

   &__contacts {

      @media (max-width:900px) {
         padding-left: 0px;
         padding-right: 150px;
         order: 1;
      }
   }

   &__contact {
      margin-bottom: 0;
      text-decoration: underline;
   }

   &__net-title {
      text-decoration: underline;
      padding-bottom: 12.75px;
      margin-bottom: 0;
   }

   &__social-networks {
      @media (max-width:900px) {
         padding-left: 40px;
      }
   }

   &__network {
      padding-bottom: 57px;
      display: flex;
      justify-content: space-between;
   }

   &__copyright {
      margin-top: 0;

      @media (max-width:900px) {
         display: none;
      }

      &_adaptive {
         display: none;

         @media (max-width:900px) {
            display: block;
         }
      }
   }
}