@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.ttf") format("ttf"), url("../fonts/Raleway-Regular.eot") format("eot");
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-ExtraLight.woff") format("woff"), url("../fonts/Raleway-ExtraLight.ttf") format("ttf"), url("../fonts/Raleway-ExtraLight.eot") format("eot");
  font-weight: 200;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Light.woff") format("woff"), url("../fonts/Raleway-Light.ttf") format("ttf"), url("../fonts/Raleway-Light.eot") format("eot");
  font-weight: 300;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.ttf") format("ttf"), url("../fonts/Raleway-Medium.eot") format("eot");
  font-weight: 500;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-SemiBold.woff") format("woff"), url("../fonts/Raleway-SemiBold.ttf") format("ttf"), url("../fonts/Raleway-SemiBold.eot") format("eot");
  font-weight: 600;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.ttf") format("ttf"), url("../fonts/Raleway-Bold.eot") format("eot");
  font-weight: 700;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-ExtraBold.woff") format("woff"), url("../fonts/Raleway-ExtraBold.ttf") format("ttf"), url("../fonts/Raleway-ExtraBold.eot") format("eot");
  font-weight: 800;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Black.woff") format("woff"), url("../fonts/Raleway-Black.ttf") format("ttf"), url("../fonts/Raleway-Black.eot") format("eot");
  font-weight: 900;
}
@font-face {
  font-family: "Dela Gothic One";
  src: url("../fonts/DelaGothicOne-Regular.woff2") format("woff2"), url("../fonts/DelaGothicOne-Regular.woff") format("woff"), url("../fonts/DelaGothicOne-Regular.ttf") format("ttf"), url("../fonts/DelaGothicOne-Regular.eot") format("eot");
}
html {
  min-width: 477px;
}

body {
  font-family: "Raleway";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 477px;
  font-feature-settings: "pnum" on, "lnum" on;
}

a {
  text-decoration: none;
  color: #000000;
}

.header {
  margin-left: 5.5%;
  margin-right: 5.5%;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 19px;
  height: 99px;
  align-items: center;
}
.header__block_logo {
  opacity: 1;
  transition: opacity 300ms ease-out;
}
.header__block_logo:hover {
  opacity: 0;
}
.header__logo-icon {
  width: 184px;
}
.header__input {
  background: none;
  display: none;
}
.header__label {
  display: none;
}
@media (max-width: 959px) {
  .header__label {
    display: block;
    width: 20px;
    text-align: center;
  }
  .header__label::before {
    content: url("../img/burger.svg");
  }
}
@media (max-width: 959px) {
  .header__nav_left {
    display: none;
  }
}
.header__list {
  list-style: none;
  display: flex;
  padding: 0;
}
@media (max-width: 959px) {
  .header__list {
    position: absolute;
    flex-direction: column;
    background: #FFFFFF;
    width: 90%;
    z-index: 100;
    filter: drop-shadow(6px 6px 8px rgba(71, 71, 71, 0.25)) drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.25));
  }
}
.header__link {
  margin-right: 30px;
}
@media (max-width: 959px) {
  .header__link {
    font-family: "Dela Gothic One";
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    padding-bottom: 30px;
    background: #FFFFFF;
  }
}
.header__a:hover {
  color: #DA1F39;
  font-weight: 700;
}
@media (max-width: 959px) {
  .header__a:hover::after {
    content: url("../img/scroll down.svg");
    display: inline-block;
    margin-left: 13px;
  }
}
.header__action-list {
  display: flex;
}
.header__language {
  margin-right: 20px;
}
@media (max-width: 959px) {
  .header__language {
    display: none;
  }
}
.header__select {
  border: none;
}
.header__currency {
  margin-right: 20px;
}
@media (max-width: 959px) {
  .header__currency {
    display: none;
  }
}
.header__phone-number {
  margin-right: 20px;
}
@media (max-width: 959px) {
  .header__phone-number {
    display: none;
  }
}
.header__search {
  margin-right: 20px;
}
.header__cart {
  margin-right: 0px;
}

#burger:checked + label + nav {
  display: block;
}

#burger:checked + label::before {
  content: url("../img/close menu.svg");
}

.way__items {
  padding: 0;
  padding-bottom: 21px;
  list-style: none;
  display: flex;
  font-size: 12px;
  line-height: 166.4%;
  align-items: center;
  font-weight: 600;
}
@media (max-width: 959px) {
  .way__items {
    display: none;
  }
}
.way__item_cart {
  font-weight: 300;
}
.way__icon {
  width: 25px;
  height: 0.7px;
  margin: 5px;
}

.way-adaptive {
  display: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  padding-bottom: 20px;
}
@media (max-width: 959px) {
  .way-adaptive {
    display: inline-block;
  }
}
.way-adaptive__icon {
  display: inline-block;
  vertical-align: middle;
  transform: rotate(180deg);
  margin-right: 10px;
}
.way-adaptive__item {
  display: inline-block;
  vertical-align: middle;
}

.cart {
  margin-left: 5.5%;
  margin-right: 5.5%;
}
.cart__content {
  display: flex;
  gap: 30px;
}
.cart__content_top {
  height: 171px;
  padding-bottom: 81px;
}
.cart__content_bottom {
  padding-bottom: 73px;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .cart__content_bottom {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 50px;
  }
}
.cart__part_right {
  position: relative;
  width: 88%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .cart__part_right {
    flex-direction: column;
  }
}
.cart__img-name {
  display: flex;
}
.cart__block {
  font-size: 12px;
}
.cart__span {
  font-weight: 600;
}
@media (max-width: 768px) {
  .cart__hidden {
    display: none;
  }
}
.cart__product-img {
  box-sizing: border-box;
  width: 142px;
  height: 171px;
}
.cart__product-img img {
  width: 100%;
  height: 100%;
}
.cart__product-name {
  padding-bottom: 40px;
}
.cart__product-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}
@media (max-width: 768px) {
  .cart__product-title {
    font-size: 16px;
  }
}
.cart__product-color {
  display: flex;
  gap: 55px;
  padding-bottom: 10px;
}
.cart__product-size {
  display: flex;
  gap: 44px;
}
.cart__select {
  font-weight: 600;
  border: none;
}
.cart__select:hover {
  cursor: pointer;
}
.cart__price {
  display: flex;
  flex-direction: column;
  gap: 58px;
  text-align: center;
  line-height: 21px;
}
@media (max-width: 768px) {
  .cart__price {
    display: none;
  }
}
.cart__quantity {
  display: flex;
  flex-direction: column;
  gap: 58px;
  text-align: center;
  line-height: 21px;
}
@media (max-width: 768px) {
  .cart__quantity {
    gap: 0;
    flex-direction: row;
  }
}
.cart__sum {
  display: flex;
  flex-direction: column;
  gap: 58px;
  text-align: center;
  line-height: 21px;
}
@media (max-width: 768px) {
  .cart__sum {
    display: none;
  }
}
.cart__adaptive-sum {
  display: none;
}
@media (max-width: 768px) {
  .cart__adaptive-sum {
    display: block;
  }
}
@media (max-width: 768px) {
  .cart__close-btn {
    position: absolute;
    right: 0;
    top: 0;
  }
}
.cart__close {
  border: none;
  background: none;
}
.cart__close:hover {
  cursor: pointer;
}
.cart__payable {
  position: relative;
  display: flex;
  gap: 128px;
  font-weight: 700;
  font-size: 16px;
}
.cart__payable::before {
  content: "";
  position: absolute;
  top: -20.3px;
  background: #000000;
  width: 305px;
  height: 0.7px;
}
@media (max-width: 900px) {
  .cart__btns {
    padding-top: 30px;
  }
}
@media (max-width: 768px) {
  .cart__btns {
    display: flex;
    flex-direction: column;
  }
}
.cart__btn-continue {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 17px 0 17px 33px;
  text-decoration: underline;
  text-underline-offset: 3px;
}
@media (max-width: 768px) {
  .cart__btn-continue {
    padding-left: 0;
  }
}
.cart__btn-buy {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  padding: 17px 33px;
  background: #DA1F39;
  border: #DA1F39 1px solid;
  color: #FFFFFF;
  text-transform: uppercase;
  box-sizing: border-box;
  display: inline-block;
  transition: color 0.5s ease-out;
}
.cart__btn-buy:hover {
  color: #DA1F39;
  background: #FFFFFF;
}
.cart__quantity-btn {
  display: flex;
  line-height: 21px;
}
@media (max-width: 768px) {
  .cart__quantity-btn {
    margin-right: 34px;
  }
}
.cart__btn {
  background: #F4F4F4;
  border: none;
  width: 21px;
  height: 21px;
  padding: 3px;
}
.cart__input {
  box-sizing: border-box;
  border: none;
  width: 21px;
  text-align: center;
  font-size: 14px;
}
.cart__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.cart__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.cart__info {
  max-width: 625px;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 13.5%;
}

.footer {
  background: #F4F4F4;
}
.footer__logo {
  text-align: center;
}
.footer__logo-icon {
  width: 184px;
}
.footer__content {
  font-size: 14px;
  line-height: 166.19%;
  display: flex;
  margin-left: 5.5%;
  margin-right: 5.5%;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .footer__content {
    flex-wrap: wrap;
  }
}
.footer__link {
  list-style: none;
  padding-bottom: 10px;
}
.footer__link_red {
  padding-top: 20px;
}
.footer__link_red a {
  color: #DA1F39;
  font-weight: 700;
}
.footer__list {
  list-style: none;
}
@media (max-width: 959px) {
  .footer__list {
    padding-left: 0;
  }
}
.footer__list_2-columns {
  columns: 2;
}
.footer__list_1-column {
  columns: 1;
  padding-left: 0;
}
@media (max-width: 900px) {
  .footer__contacts {
    padding-left: 0px;
    padding-right: 150px;
    order: 1;
  }
}
.footer__contact {
  margin-bottom: 0;
  text-decoration: underline;
}
.footer__net-title {
  text-decoration: underline;
  padding-bottom: 12.75px;
  margin-bottom: 0;
}
@media (max-width: 900px) {
  .footer__social-networks {
    padding-left: 40px;
  }
}
.footer__network {
  padding-bottom: 57px;
  display: flex;
  justify-content: space-between;
}
.footer__copyright {
  margin-top: 0;
}
@media (max-width: 900px) {
  .footer__copyright {
    display: none;
  }
}
.footer__copyright_adaptive {
  display: none;
}
@media (max-width: 900px) {
  .footer__copyright_adaptive {
    display: block;
  }
}